<!-- Header -->
<div class="row">
  <div class="blood-header">
    <div class="container">
      <center>
        <h1 class="text-white">Donate Blood, Save Lives!</h1>
        <p class="text-white">Please complete the form below, we will notify when someone / hospital needs your blood.</p>
      </center>
    </div>
  </div>
</div>

<%= render 'partials/flash' %>
<!-- Form -->
<div class="col-sm-5" style="min-height: 120%;">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= simple_form_for(@donor, url: donate_index_path, html: { class: 'form-horizontal' }) do |f| %>
        <center><legend>All fields are important.</legend></center>
        <div class="col-md-10 col-md-offset-1">
          <%= f.input :address, label: 'Address', placeholder: 'Where do you live?', hint: 'Required' %>
          <%= f.input :full_name, label: 'Full Name', hint: 'Required' %>
          <input type="hidden" id="latitude" name="donor[lat]" value="">
          <input type="hidden" id="longitude" name="donor[long]" value="">

          <div class="form-group">
            <div class="col-lg-6">
              <%= f.input :cell_phone, label: 'Cell Phone', hint: 'Required', placeholder: '+977 9811111111' %>
            </div>
            <div class="col-lg-6">
              <%= f.input :email, label: 'Email' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-8">
              <label class="control-label" for="commute_radius">Radius (KM)</label><br>
              <input class="form-control" type="text" name="donor[commute_radius]" id="commute_radius">
              <p class="help-block">How long can you commute to hospital ?</p>
            </div>
            <div class="col-lg-4">
              <%= f.input :blood_type %>
              <p class="help-block">Required</p>
            </div>
          </div>

          <div class="col-lg-12">
            <%= f.submit 'Submit', class: 'btn btn-default btn-lg btn-block' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- Map -->
<div class="col-md-7" id="map-canvas"></div>
