<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Form -->
      <%= simple_form_for(@donor, url: donate_index_path, html: { class: 'form-horizontal' }) do |f| %>
        <fieldset>
          <br>
          <legend>Please fill out the form below.</legend>
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group">
              <div class="col-lg-6">
                <%= f.input :first_name, label: 'First Name', hint: 'Required' %>
              </div>
              <div class="col-lg-6">
                <%= f.input :last_name, label: 'Last Name' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-6">
                <%= f.input :cell_phone, label: 'Cell Phone', hint: 'Required', placeholder: '+977 9811111111' %>
              </div>
              <div class="col-lg-6">
                <%= f.input :email, label: 'Email' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-6">
                <%= f.input :street, label: 'Address', placeholder: 'Street / Galli / House #' %>
              </div>
              <div class="col-lg-6">
                <%= f.input :city, label: 'City', hint: 'Required' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-6">
                <%= f.input :state, label: 'Aanchal', hint: 'Required' %>
              </div>
              <div class="col-lg-6">
                <%= f.input :postal_code, label: 'Postal Code' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-6">
                <label class="control-label" for="commute_radius">Radius (KM)</label><br>
                <input class="form-control" type="text" name="donor[commute_radius]" id="commute_radius">
                <p class="help-block">How long can you commute to hospital ?</p>
              </div>
              <div class="col-lg-6">
                <%= f.input :blood_type %>
                <p class="help-block">What is your blood type (required)</p>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12">
                <%= f.submit 'Submit', class: 'btn btn-default btn-lg btn-block' %>
              </div>
            </div>
          </div>
        </fieldset>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  var slider = new Slider("#commute_radius", {
    ticks: [0, 5, 10, 15, 20, 25],
    ticks_labels: ['0', '5', '10', '15', '20','25'],
    ticks_snap_bounds: 30
  });
</script>
