<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel='icon' href='/blood.ico' sizes="16x16">
    <link rel="apple-touch-icon-precomposed" href="https://s3-ap-southeast-1.amazonaws.com/bloodfornepal/apple-touch-icon.png" />
    <%= display_meta_tags title: 'Donate Blood, Save Nepal Earthquake Victims.',
      description: 'Your 1 pint of blood could save 3 victims of Earthquake in Nepal. Donate Blood, Save Lives!',
      keywords: 'Donate, Blood, Nepal, Earthquake, Victims, Save Lives',
      viewport: 'width=device-width, initial-scale=1.0, maximum-scale=1.0',
      canonical: 'http://bloodfornepal.org',
      og: { title: 'Donate Blood, Save Nepal Earthquake Victims.', image: 'https://s3-ap-southeast-1.amazonaws.com/bloodfornepal/supportnepal_optimized.jpg', description: 'Your 1 pint of blood could save 3 victims of Earthquake in Nepal. Donate, Blood Save Lives!' } %>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.6/animate.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.css">
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false&libraries=places"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>
    <%= javascript_include_tag "hospital" %>
  </head>
  <body>
    <header>
      <a href="/" id="logo">Blood f<img src="/blood.png">r Nepal</a>
    </header>

    <%= yield %>

  </body>
</html>
